.block
	.rule
	.two
		.title
			h1 Posts
		.table
			if(posts)
				- for (var key = 0; key < posts.length; key++)
					- var post = posts[key]
						- if (typeof post != "undefined")
							p.row
								a(href="/#{post.tag}/#{post.title.replace(/ /g,'_')}")
									- if(post.featured)
										| *
									| !{post.title} 
									span
										| !{post.tag} 
								a.action(href="/delete/#{key}")
									| delete
								a.action(href="/edit/#{key}")
									| edit
	.clear