.block
	- for (var key in posts)
		- var post = posts[key]
			.three
				.project
					a(href="/#{post.tag}/#{post.title.replace(/ /g,'_')}")
						img#histoImg(src="#{post.featuredImage}")
					- if (post.title.length)
						a.textLink(href="/#{post.tag}/#{post.title.replace(/ /g,'_')}")
							| !{post.title} : !{post.tag}
	.clear