- if (post.media[0]){
	#hero
		- if(post.media[0].type === 'video') {
			iframe(src="http://player.vimeo.com/video/#{post.media[0].id}",width="100%",height="100%",frameborder="0",webkitAllowFullScreen,mozallowfullscreen,allowFullScreen)
			img#histoImg.heroImg(src="/images/blank.png")
		- } else {
			img#histoImg.heroImg(src="#{post.media[0]['1x']}",1x="#{post.media[0]['1x']}",2x="#{post.media[0]['2x']}")
		- }
		- if (post.media.length > 1)
		#loading
			| loading...
- } else {
	.rule
- }
.block
	- if (post.media.length > 1)
		.one.thumbs
			- var i = 0;
			- post.media.forEach(function(item){
				- if(item.type !== "video"){
					a.thumbs(href="#{item['1x']}")
						img(src="#{item.thumb}",1x="#{item['1x']}",2x="#{item['2x']}" class="#{i == 0 ? 'active' : ''}")
				- } else {
					a.thumbs(href="http://vimeo.com/#{item.id}")
						img(src="#{item.thumb}" videoID="#{item.id}" class="#{i == 0 ? 'active' : ''}")
				- }
				-i++
			- })
	.two
		- if (post.title.length)
			.title
				h1
					| #{post.title}
				- if (post.tag.length && post.tag != "General")	
					a(href='/tag/#{post.tag}').tags !{post.tag}
		- if (post.post.length)
			.copy
				| !{post.post}
	- if (post.sidebar.length)
		.one
			- if (post.tag.length && post.tag != "general")	
				#spacer
			| !{post.sidebar}
	.clear