- if (post.media[0]){
	#hero
		- if(!(post.media[0].indexOf("video") < 0)) {
			- var videoPlayer = post.media[0].split(" ");
			iframe(src="http://player.vimeo.com/video/#{videoPlayer[1]}",width="680",height="452",frameborder="0",webkitAllowFullScreen,mozallowfullscreen,allowFullScreen)
			img#histoImg.heroImg(src="/i/blank.png")
		- } else {
			img#histoImg.heroImg(src="/i/#{post.media[0]}")
		- }
		- if (post.media.length > 1)
		#loading
			| loading...
- } else {
	.rule
- }
.block
	.two
		- if (post.title.length)
			.title
				h1
					| #{post.displayTitle}
				- if (post.tag.length && post.tag != "general")	
					a(href='/tag/#{post.tag}').tags !{post.tag}
		- if (post.post.length)
			.copy
				| !{post.post}
	- if (post.media.length > 1 || post.sidebar.length)
		.one
			- if (post.media.length > 1)
				- var i = 0;
				- if (post.process == "true")	
					a(href="/process/#{post.title.replace(/ /g,'_')}").tags.processLink Process Work
				- post.media.forEach(function(item){
					- if(item.indexOf("video") < 0){
						-if(i == 0)
							a.thumbs(href="/i/#{item}")
								img.active(src="/i/t/#{item}")
						-else
							a.thumbs(href="/i/#{item}")
								img(src="/i/t/#{item}")
					- } else {
						- var videoPlayer = item.split(" ");
						-if(i == 0)
							a.thumbs(href="http://vimeo.com/#{videoPlayer[1]}")
								img.active(src="/i/t/#{videoPlayer[2]}")
						- else
							a.thumbs(href="http://vimeo.com/#{videoPlayer[1]}")
								img(src="/i/t/#{videoPlayer[2]}")
					- }
					-i++
				- })
			- if (post.sidebar.length)
				- if (post.tag.length && post.tag != "general")	
					#spacer
				| !{post.sidebar}
	.clear