mixin category(tag)
	option(value=tag, selected=post.tag === tag)= tag

doctype html
html(lang="en")
	include includes/head.jade

	body
		#wrapper
			canvas#histogram(width="1000px",height="125px")
				img(src="/i/dummy.png")
			#content
				.block
					.rule
					.two
						if (message.length)
							.title
								h1
									#{message}
						form(action="/edit/#{index}",method="post")
							input(type="text",size="10",maxlength="60",id="title",name="title",placeholder="title",value="#{post.title}")
							p.formText tag
							select(name="tag")
								- for (var i = 0; i < categories.length; i++)
									+category(categories[i])
							p.formText
								| featured - 
								input(type="checkbox",name="featured",value="true",checked=post.featured)
							input(type="text",size="10",maxlength="60",id="featuredImage",name="featuredImage",placeholder="featured image",value="#{post.featuredImage}")
							p.formText media: image [1x] [2x] / video [vimeo id]
							textarea(name="media")
								| #{post.media}
							p.formText post
							textarea(name="post",id="post")
								| #{post.post}
							p.formText sidebar
							textarea(name="sidebar")
								| #{post.sidebar}
							input(id="submit",type="submit",value="submit")
					.clear
				include includes/foot.jade

			include includes/nav.jade
